body{
    font-family: OCR A Std, monospace;
    margin-top: 0;
    margin-left: 0;
}
a{
    text-decoration: none; 
}
form{
    text-transform: uppercase;
    font-family: Courier New, monospace;
    font-weight: 50px;
    color:#9092a1;
    text-align: left;
}
h2.logo{
    color:#e2e2db;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight:800px;
    margin-left: 20px;
    font-size:32px;
    margin-top: 0;
  
   
}



main{
    margin-top: 0;
}

#dropdown {position: absolute; display: none; background-color: #dde0ff; padding: 0px; z-index: 1; top:45px;}
#drop .dropaw {display: block; width: 150%; position: relative; text-align: center;}
#drop {float: right; display: flex; flex-direction: column; padding: 10px;}
#drop:hover #dropdown {display:flex; flex-direction: column; z-index: 1;}

div.sidebar {
    margin-right:12px;
    position: relative; 
    text-align: center; 
    background: #97bdf7; 
    float:left; 
    width:20%; 
    height:800px; 
    margin-left:-6px;
    margin-top:-12;
}
.sidebar a {
    
    color: #e2e2db; 
    height: 30px; 
    display:block; 
    width:auto; 
    border:none; 
    padding: 10px; 
    background: #6781a8; 
    padding-top: 20px;  
    margin-bottom:2px;
}
.sidebar a:hover {
    background: #dee7e9; 
    color:#3b3e66;
    transition: all 0.4s;
}

div.navbar {
    float:initial;
    display: flex;
    justify-content: space-between;
    border: none; 
    position: relative; 
    margin-left:-21px; 
    height:45px; 
    background: #3b3e66; 
    left: 15px;
    margin-right:6px;
}
.navbar a {
    font-size: medium;
    height: 23px; 
    display:inline; 
    text-decoration: none; 
    color: #e2e2db; 
    padding: 10px; 
    float: left; 
    background: none; 
    padding-top:12px; 
    margin-left: 50px;
    }
.navbar a:hover {
    background: #dee7e9; 
    color:#3b3e66;
    transition: all 0.4s;
}

.error {margin-top: 20px; position:relative; color:red;font-size:24;padding:10px;border:1px solid black;border-radius:5px; background:rgba(255, 25, 25, 0.3);}