{% extends parent_template|default:"base.html" %}
{% load static %}

{% block title %}
Readmore - {{ club.club_name }}
{% endblock %}

{% block content %}
<div class="basic_card" style="width:100%;">
    <div style="margin-bottom: 50px;" class="club_heading">
        <div>
            <h1 style="display: inline-block; word-wrap: break-word; width: 100%;">{{ club.club_name }}</h1>
            <div id="joindiv" style="display: inline-block;">
            {% if real_user in club.club_users.all %}
            <h3 style="margin-left: 30px; display: inline-block;">[Joined]</h3>
            {% elif real_user in club.club_pending_invites.all %}
            <button onclick="joinClub();">Join</button>
            {% endif %}
        </div>
        <div class="subnav">
            <div style="display: inline-block"><a class="anchor_button" href="{% url 'readmore_app:club_members' club.club_id %}">{{ club.club_users.all.count }} Members</a></div>
            {% if real_user == club.club_owner %}
            <div style="display: inline-block"><a class="anchor_button" href="{% url 'readmore_app:invite_to_club' club.club_id %}">Invite Users</a></div>
            {% endif %}
            <div style="display: inline-block"><a class="anchor_button" href="{% url 'readmore_app:club_library' club.club_id %}">Book Club Library</a></div>
            <div style="display: inline-block"><a class="anchor_button" href="{% url 'readmore_app:club_schedule' club.club_id %}">Meeting Schedule</a></div>
            {% if real_user in club.club_users.all %}
            <div style="display: inline-block"><a class="anchor_button" href="{% url 'readmore_app:club_chat' club.club_id %}">Enter Book Club Chat</a></div>
            {% endif %}
        </div>
        <div style="width: 70%;">
            <p><strong>Club Description</strong></p>
            <p>{{ club.club_description }}</p>
        </div>
        {% if next_meeting %}
            <div style="background: #d8dff0; padding: 10px; border-radius: 15px; width: 80%; margin-top: 50px;">
                <h3>Next Meeting</h3>
                <h4>{{ next_meeting.meeting_name }}</h4>
                <h5>Scheduled For {{ next_meeting.meeting_time|date:"N j, Y \a\t h:i A" }}</h5>
                <p>{{ next_meeting.meeting_description }}</p>
            </div>
        {% endif %}
    </div>
    {% if current_book %}
    <div id="current_book" class="book_card_mv" style="color: #eff0f5;width: 19em;font-family:Arial, Helvetica, sans-serif; height: fit-content;">
        <div><h2 style="width: 100%; text-align: center; padding: 5px;">Current Book</h2></div>
        <a class="book_search_link" href="{% url 'readmore_app:view_book' current_book.isbn13 %}">
            <div style="width: 16em;">
                <div class="book_title" style="position: relative;">
                    <div style="width: 40%; margin: 4px;"><img width="100px" height="140px" src="{{ current_book.small_thumbnail }}" alt="{{ book.title }} Cover Image" /></div>
                    <div style="width: 100%; margin-left: 0.6em;">
                    
                    <p style="font-size:18px;">{{ current_book.title }}</p>
                    
                    </div>
                </div>
            <div style="margin-top: 0%;margin-left: 30px;">
                <div style="display:flex;">
                    <div style="font-size:12px; width: 28%; margin-top: 12px;">
                        Author{{ current_book.authors|length|pluralize:"s" }}
                    </div>
                    <div style="width: 50%;">
                        <p style="font-size:12px;">
                        {% for author in current_book.authors %}
                        <span style="font-size:12px;">{{ author }}</span>
                        </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div style="margin-left: 30px;">
                <div colspan=2 style="font-size:12px;">ISBN: {{ current_book.isbn13 }}</div>
            </div>
            <div style="margin-bottom:5%;"><div align="center"><div class="stars" style="--rating:{{ current_book.rating }};"></div></div></div>
        </div>
    </a>
    </div>
    {% endif %}
    </div>

    <div>
        {% if real_user in club.club_users.all %}
        <p style="background: #4b4e75;padding:5px 10px 5px 5px; color:white;text-align: center; border-radius: 3px;width:fit-content;"><a href="{% url 'readmore_app:create_club_post' club.club_id %}" class="anchor_button">Create Post</a></p>
        {% endif %}
    </div>
    <center>
    <div class="postlist">
    {% if not club_posts %}
        <p>No posts have been made to this club</p>
    {% else %}
        {% for post in club_posts %}
            <div class="clubpost">
                <div style="display:inline-flex;">
                    <div style="max-width: 92%;word-break: break-word;">
                        <a href="{% url 'readmore_app:view_post' post.post_id %}"><h2 style="margin: 10px;">{{ post.post_title }}</h2></a>
                        <h5 style="margin: 2px;">Post By: <a href="{% url 'readmore_app:profile' post.post_user.id %}">{{ post.post_user.username }}</a></h5>
                        <h6 style="margin: 2px;">{{ post.post_date|date:"m/d/Y h:i:s A" }}</h6>
                    </div>
                    <div>
                        <span class="likes">
                            <span id="nlikes{{ post.post_id }}">{{ post.post_likes.count }}</span>
                            <input id="likeimage{{post.post_id}}" onclick="doLike({{post.post_id}});" style="width: 20px;" type="image" src="{% if real_user in post.post_likes.all %}{% static 'readmore_app/thumbs_up.png' %}{% else %}{% static 'readmore_app/thumbs_up_gray.png' %}{% endif %}" />
                        </span>
                    </div>
                </div>
                {% if post.post_img %}
                <div><img style="max-width: 50%;" src="{{ post.post_img }}"/></div>
                {% endif %}
                {% if post.post_text %}
				<div class="post_text">
					{% autoescape off %}
					<p>{{ post.post_text }}</p>
					{% endautoescape %}
                </div>
                {% endif %}
                {% if post.post_user == real_user %}
                <button onclick="deletePost({{ post.post_id }});" class="anchor_button" style="float: right; margin-right: 10px; margin-top: 10px;">Delete This Post</button>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
    </div>
    </center>
</div>
{% endblock %}

{% block js %}
function deletePost(post_id) {
    if (confirm("Are you sure you wish to delete this post?")) {
        const xhrdeletepost = new XMLHttpRequest();
        xhrdeletepost.onload = function() {
            if (this.responseText == "CONFIRM") {
                window.location.href = "/readmore/club/{{ club.club_id }}/";
            }
        }
        xhrdeletepost.open("GET", `/readmore/ajax/delete_post/${post_id}/`);
        xhrdeletepost.send();
    }
}

function joinClub() {
    const joindiv = document.getElementById("joindiv");
    joindiv.innerHTML = `<h3 style="margin-left: 30px; display: inline-block;">[Joined]</h3>`;
    const xhrjoinclub = new XMLHttpRequest();
    xhrjoinclub.open("GET", "/readmore/ajax/join_club/{{ club.club_id }}/");
    xhrjoinclub.send();
    window.location.href = "/readmore/club/{{ club.club_id }}/";
}

function doLike(post_id) {
    const image = document.getElementById("likeimage" + post_id);
    const nlikes = document.getElementById("nlikes" + post_id);
    const xhrlike = new XMLHttpRequest();
    xhrlike.onload = function() {
        [new_image, num_likes] = this.responseText.split(' ');
        if (new_image == "unlike") {
            image.src = "/static/readmore_app/thumbs_up_gray.png";
        } else if (new_image == "like") {
            image.src = "/static/readmore_app/thumbs_up.png";
        }
        nlikes.innerHTML = num_likes;
    }
    xhrlike.open("GET", `/readmore/ajax/dolike/${post_id}/`);
    xhrlike.send();
}
{% endblock %}