{% extends parent_template|default:"base.html" %}
{% load static %}

{% block title %}
Readmore - {{ profile_user.username }}'s Profile
{% endblock %}

{% block content %}
<div style="display:flex;flex-direction: column;align-items: center;padding: 4% 0%;margin-left:0%;height:fit-content;">
	<div style="align-self: flex-start;margin-left: 4.5%;">
		<a class="anchor_button" href="{% url 'readmore_app:profile' profile_user.id %}" style="margin-top: 1.5%; ">{{ profile_user.username }}'s Profile</a>
	</div>
<div style="width: 80%;" class="basic_card">
    <h1>{{ profile_user.username }}'s Friends</h1>
    <table>
    {% if not profile_user.user_friends.all.count %}
        <tr><td>This user has no friends</td></tr>
    {% else %}
    {% for friend in profile_user.user_friends.all %}
        <tr style="height: 50px;" id="friend{{ friend.id }}">
            <td>
                <a href="{% url 'readmore_app:profile' friend.id %}" class="anchor_button">@{{ friend.username }}</a>
            </td>
        </tr>
    {% endfor %}
    {% endif %}
    </table>
</div>
{% endblock %}

{% block js %}
{% endblock %}