{% extends parent_template|default:"base.html" %}
{% load static %}
{% load extras %}


{% block title %}
Readmore - Index
{% endblock %}

{% block content %}
<div class="basic_card">
    <center>
    <h1>My Feed</h1>
    <div class="postlist">
    {% if not posts %}
    <p>No posts here.  Try joining some book clubs or adding friends.</p>
    {% else %}
        {% for post in posts %}
            <div class="clubpost">
                <div style="
                flex-direction: column;
                align-items: center;
                max-width: 89%;">
                    <div style="display:inline-flex;
                        justify-content: center;
                        max-width: 80%;
                        ">
                    <div>
                    <a href="{% url 'readmore_app:view_post' post.post_id %}" style="max-width:80;"><h2 style="margin: 10px;">{{ post.post_title }}</h2></a>
                    {% if post.post_club %}
                    <h5>Posted to: <a href="{% url 'readmore_app:club' post.post_club.club_id %}">{{ post.post_club.club_name }}</a></h5>
                    {% endif %}
                    <h5 style="margin: 2px;">Post By: <a href="{% url 'readmore_app:profile' post.post_user.id %}">{{ post.post_user.username }}</a></h5>
                    <h6 style="margin: 2px;">{{ post.post_date|date:"m/d/Y h:i:s A" }}</h6>
                    </div>
                    <div style="max-width: 92%;word-break: break-word;">
                        <span class="likes">
                            <span id="nlikes{{ post.post_id }}">{{ post.post_likes.count }}</span>
                            <input id="likeimage{{post.post_id}}" onclick="doLike({{post.post_id}});" style="width: 20px;" type="image" src="{% if real_user in post.post_likes.all %}{% static 'readmore_app/thumbs_up.png' %}{% else %}{% static 'readmore_app/thumbs_up_gray.png' %}{% endif %}" />
                        </span>
                    </div>
                    </div>
                    <div>
                    {% if post.post_img %}
                        {% if post.post_rating %}<a href="{% url 'readmore_app:view_book' post.post_isbn %}">{% endif %}
                            <img style="max-width: 500px;" src="{{ post.post_img }}"/>
                        {% if post.post_rating %}</a>{% endif %}
                    {% endif %}
                    </div>
                </div>
                
                
                {% if post.post_rating %}
                    <div align="center" colspan=3 style="
                    margin-top: 1%;
                    background: #b4b8cffc;
                    padding: 5px;
                    border-radius: 15px;
                    "><div class="stars" style="font-size: 250%; --rating:{{ post.post_rating|divide:2 }};"></div></div>
                {% endif %}
                {% if post.post_text %}
                <div class="post_text">
					{% autoescape off %}
					<p>{{ post.post_text }}</p>
					{% endautoescape %}
                </div>
                {% endif %}
                {% if post.post_user == real_user %}
                <button onclick="deletePost({{ post.post_id }});" class="anchor_button" style="float: right; margin-right: 10px; margin-top: 10px;">Delete This Post</button>
                {% endif %}
                
            </div>
        {% endfor %}
    {% endif %}
    </div>
    </center>
</div>
{% endblock %}

{% block js %}
function doLike(post_id) {
    const image = document.getElementById("likeimage" + post_id);
    const nlikes = document.getElementById("nlikes" + post_id);
    const xhrlike = new XMLHttpRequest();
    xhrlike.onload = function() {
        [new_image, num_likes] = this.responseText.split(' ');
        if (new_image == "unlike") {
            image.src = "/static/readmore_app/thumbs_up_gray.png";
        } else if (new_image == "like") {
            image.src = "/static/readmore_app/thumbs_up.png";
        }
        nlikes.innerHTML = num_likes;
    }
    xhrlike.open("GET", `/readmore/ajax/dolike/${post_id}/`);
    xhrlike.send();
}
{% endblock %}