{% extends parent_template|default:"base.html" %}
{% load static %}

{% block title %}
Readmore - {{ club.club_name }}
{% endblock %}

{% block content %}
<div class="basic_card">
    <h1> Invite Users to {{ club.club_name }}</h1>
    <table>
    {% for friend in real_user.user_friends.all %}
        <tr id="friend{{ friend.id }}" style="display:flex; flex-wrap:wrap;">
            <td style="padding-left: 20px; display:flex;justify-content: center;">
                <a style="height: 20px; margin-top: 5px;" href="{% url 'readmore_app:profile' friend.id %}" class="anchor_button">@{{ friend.username }}</a>  {% if friend in club.club_users.all %}<p style="padding-left: 20px;">[Joined]</p>{% endif %}
            </td>
            <td style="padding-left: 20px;">
                <p id="invitebutton{{ friend.id }}">
                {% if friend not in club.club_users.all and friend not in club.club_pending_invites.all %}
                <button onclick="inviteMember({{ friend.id }}, {{ club.club_id }});">Send Invite</button>
                {% elif friend in club.club_pending_invites.all %}
                Pending...
                {% endif %}
                </p>
            </td>
        </tr>
        <tr id="friend{{ friend.id }}underline"><td colspan="2" bgcolor="lightgray"><td></tr>
    {% endfor %}
    <tr style="display:flex; flex-wrap:wrap; padding: 10px;">
        <td style="padding-left: 20px; display:flex;justify-content: center;">Invite A Non-Friend</td>
        <td style="padding-left: 20px;"><input type="text" name="username" id="username" /><button onclick="inviteNonfriend({{ club.club_id }});">Send Invite</button> <span id="resp"></span> </td>
    </tr>
    <tr id="friend{{ friend.id }}underline"><td colspan="2" bgcolor="lightgray"><td></tr>
    </table>
    <a class="anchor_button" style="top: 20px; left: 20px; position: relative;" href="{% url 'readmore_app:club' club.club_id %}">Back To Club Home</a>
</div>
{% endblock %}

{% block js %}
function inviteMember(friend_id, club_id) {
    const invitebutton = document.getElementById("invitebutton" + friend_id);
    invitebutton.innerHTML = "Pending...";
    const xhrinvitemember = new XMLHttpRequest();
    xhrinvitemember.open("GET", "/readmore/ajax/invite_member/" + club_id + "/" + friend_id + "/");
    xhrinvitemember.send();
}

function inviteNonfriend(club_id) {
    var response = document.getElementById("resp");
    let username = document.getElementById("username").value;
    const xhrinvitemember = new XMLHttpRequest();
    xhrinvitemember.onload = function() {
        response.innerHTML = this.responseText;
        setInterval(function() {
            response.innerHTML = "";
        }, 5000);
    };
    xhrinvitemember.open("GET", "/readmore/ajax/invite_nonfriend/" + club_id + "/" + username + "/");
    xhrinvitemember.send();
}
{% endblock %}