{% extends parent_template|default:"base.html" %}
{% load static %}

{% block title %}
Readmore - Notifications
{% endblock %}

{% block content %}
<div class="basic_card">
    <h1>Notifications</h1>
    <table id="notification_table">
    {% if not notifications %}
        <tr><td>No Notifications Here</td></tr>
    {% else %}
    {% for notification in notifications %}
        <tr class="notification" id="notification{{ notification.notification_id }}">
            <td>
                <h3>{{ notification.notification_title }}</h3>
                <button onclick="removeNotification({{ notification.notification_id }});" class="remove"><img style="width: 15px;" src="{% static 'readmore_app/x_button.png' %}" /></button>
                <p style="font-size: 10px">{{ notification.notification_time }}</p>
                {% if notification.notification_link %}
                <p style="margin-bottom: 5%;"><a href="{{ notification.notification_link }}" class="anchor_button">{{ notification.notification_link_text }}</a></p>
                {% endif %}
                <p>{{ notification.notification_message }}</p>
                <hr>
            </td>
            
        </tr>
        
    {% endfor %}
    {% endif %}
    </table>
</div>
{% endblock %}

{% block js %}
function removeNotification(notification_id) {
    const tr = document.getElementById("notification" + notification_id);
    tr.parentNode.removeChild(tr);
    const xhrnotify = new XMLHttpRequest();
    xhrnotify.open("GET", "/readmore/ajax/notifications/" + notification_id + "/");
    xhrnotify.send();
    
    document.getElementById("num_notifications").innerHTML = parseInt(document.getElementById("num_notifications").innerHTML) - 1;
    
    let num_notifications = document.getElementsByClassName('notification').length;
    if (num_notifications == 0) {
        let table = document.getElementById("notification_table");
        table.innerHTML = "<tr><td>No Notifications Here</td></tr>";
        let notification_dot = document.getElementById("notification_dot");
        notification_dot.innerHTML = "";
    }
}
{% endblock %}