{% extends parent_template|default:"base.html" %}
{% load static %}

{% block title %}
Readmore - {{ profile_user.username }}'s Profile
{% endblock %}

{% block content %}
<div class="profile basic_card">
    <h1>{{ profile_user.username }}'s Profile</h1>
    {% if user.is_authenticated and profile_user != real_user %}
        {% if real_user not in profile_user.user_friends.all and profile_user not in real_user.user_pending_friends.all %}
            <button id="friendbutton" onclick="friend({{ profile_user.id }}, 'add');" name="user_id" value="{{ profile_user.id }}" class="friend">Add Friend</button>
        {% elif profile_user in real_user.user_pending_friends.all and real_user not in profile_user.user_friends.all %}
            <button id="friendbutton" onclick="friend({{ profile_user.id }}, 'pending');" name="user_id" value="{{ profile_user.id }}" class="friend">Pending...</button>
        {% elif real_user in profile_user.user_friends.all %}
            <button id="friendbutton" onclick="friend({{ profile_user.id }}, 'remove');" name="user_id" value="{{ profile_user.id }}" class="friend">Remove Friend</button>
        {% endif %}
    {% endif %}
    <div style="height:42px;margin-top: 2em;">
    <a href="{% url 'readmore_app:friend_list' profile_user.id %}" id="friendinfo" class="anchor_button">{{ profile_user.user_friends.all.count }} Friends</a>
    </div>
    <!-- Implement User bio -->
    <div>
        {% if real_user == profile_user or real_user in profile_user.user_friends.all %}
        <p><a href="{% url 'readmore_app:create_profile_post' profile_user.id %}" class="anchor_button">Create Post</a></p>
        {% endif %}
    </div>
    <center>
    <div class="postlist">
    {% if not profile_posts %}
        <p>No posts have been made to this profile</p>
    {% else %}
        {% for post in profile_posts %}
            <div class="clubpost">
                <span class="likes">
                    <span id="nlikes{{ post.post_id }}">{{ post.post_likes.count }}</span>
                    <input id="likeimage{{post.post_id}}" onclick="doLike({{post.post_id}});" style="width: 20px;" type="image" src="{% if real_user in post.post_likes.all %}{% static 'readmore_app/thumbs_up.png' %}{% else %}{% static 'readmore_app/thumbs_up_gray.png' %}{% endif %}" />
                </span>
                <h2 style="margin: 10px;">{{ post.post_title }}</h2>
                <h5 style="margin: 2px;">Post By: <a href="{% url 'readmore_app:profile' post.post_user.id %}">{{ post.post_user.username }}</a></h5>
                <h6 style="margin: 2px;">{{ post.post_date|date:"m/d/Y h:i:s A" }}</h6>
                {% if post.post_img %}
                <img style="max-width: 500px;" src="{{ post.post_img }}"/>
                {% endif %}
                {% if post.post_text %}
                <div class="post_text">
                <p>{{ post.post_text }}</p>
                </div>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
    </div>
    </center>
</div>
{% endblock %}

{% block js %}
function friend(user_id, type) {
    const xhrfriend = new XMLHttpRequest();
    const xhrfriendcount = new XMLHttpRequest();
    xhrfriendcount.onload = function() {
        const followinfo = document.getElementById('friendinfo');
        followinfo.innerHTML = this.responseText + " Friends";
    }
    if (type == 'add'){
        xhrfriend.onload = function(){
            const friendbutton = document.getElementById('friendbutton');
            if (this.responseText == 'added'){
                friendbutton.innerHTML = "Remove Friend";
                friendbutton.setAttribute('onclick', "friend({{ profile_user.id }}, 'remove');");
            }
            else if (this.responseText == 'pending') {
                friendbutton.innerHTML = "Pending...";
                friendbutton.setAttribute('onclick', "friend({{ profile_user.id }}, 'pending');");
            }
        }
    } else if (type == "pending"){
        xhrfriend.onload = function(){
            const friendbutton = document.getElementById('friendbutton');
            friendbutton.innerHTML = "Add Friend";
            friendbutton.setAttribute('onclick', "friend({{ profile_user.id }}, 'add');");
        }
    } else if (type == "remove"){
        xhrfriend.onload = function(){
            const friendbutton = document.getElementById('friendbutton');
            friendbutton.innerHTML = "Add Friend";
            friendbutton.setAttribute('onclick', "friend({{ profile_user.id }}, 'add');");
        }
    }
    xhrfriend.open("POST", "/readmore/ajax/friend/");
    xhrfriend.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhrfriend.send("type=" + type + "&profile_user_id=" + user_id + "&real_user_id=" + {{ real_user.id }});
    setTimeout(function() {
        xhrfriendcount.open("GET", "/readmore/ajax/get_friend_count/{{ profile_user.id }}/");
        xhrfriendcount.send()
    }, 500);
}

function doLike(post_id) {
    const image = document.getElementById("likeimage" + post_id);
    const nlikes = document.getElementById("nlikes" + post_id);
    const xhrlike = new XMLHttpRequest();
    xhrlike.onload = function() {
        [new_image, num_likes] = this.responseText.split(' ');
        if (new_image == "unlike") {
            image.src = "/static/readmore_app/thumbs_up_gray.png";
        } else if (new_image == "like") {
            image.src = "/static/readmore_app/thumbs_up.png";
        }
        nlikes.innerHTML = num_likes;
    }
    xhrlike.open("GET", `/readmore/ajax/dolike/${post_id}/`);
    xhrlike.send();
}
{% endblock %}