{% extends parent_template|default:"base.html" %}
{% load static %}
{% load extras %}

{% block title %}
Readmore - {{ profile_user.username }}'s Profile
{% endblock %}

{% block content %}
<div class="profile basic_card">
    <div class="profile_header">
        <div style="margin-bottom: 2%;">
            <h1>{{ profile_user.username }}'s Profile</h1>
            {% if user.is_authenticated and profile_user != real_user %}
                {% if real_user not in profile_user.user_friends.all and profile_user not in real_user.user_pending_friends.all %}
                    <button id="friendbutton" onclick="friend({{ profile_user.id }}, 'add');" name="user_id" value="{{ profile_user.id }}" class="friend">Add Friend</button>
                {% elif profile_user in real_user.user_pending_friends.all and real_user not in profile_user.user_friends.all %}
                    <button id="friendbutton" onclick="friend({{ profile_user.id }}, 'pending');" name="user_id" value="{{ profile_user.id }}" class="friend">Pending...</button>
                {% elif real_user in profile_user.user_friends.all %}
                    <button id="friendbutton" onclick="friend({{ profile_user.id }}, 'remove');" name="user_id" value="{{ profile_user.id }}" class="friend">Remove Friend</button>
                {% endif %}
            {% endif %}
            <div style="height:42px;margin-top: 2em;">
            <a href="{% url 'readmore_app:friend_list' profile_user.id %}" id="friendinfo" class="anchor_button">{{ profile_user.user_friends.all.count }} Friends</a>
            </div>
            <div>
                {% if real_user == profile_user %}
                <p ><a href="{% url 'readmore_app:create_profile_post' profile_user.id %}" class="anchor_button">Create Post</a></p>
                {% endif %}
            </div>
        </div>
        <div id="userbio">
            <p id="bio" style="width:100%;">{{ profile_user.user_bio }}</p>
            {% if real_user == profile_user %}
                <button id="biobutton" onclick="makeEditable();" style="border:none; padding:0.5% 1%">Edit Bio</button>
            {% endif %}
        </div>
    </div> 
    <center>
    <div class="postlist">
    {% if not profile_posts %}
        <p>No posts have been made to this profile</p>
    {% else %}
        {% for post in profile_posts %}
            <div class="clubpost">
                <div style="
                flex-direction: column;
                align-items: center;
                max-width: 89%;">
                    <div style="display:inline-flex;
                        justify-content: center;
                        max-width: 80%;
                        ">
                    <a href="{% url 'readmore_app:view_post' post.post_id %}" style="max-width:80;"><h2 style="margin: 10px;">{{ post.post_title }}</h2></a>
                    <div style="max-width: 92%;word-break: break-word;">
                        <span class="likes">
                            <span id="nlikes{{ post.post_id }}">{{ post.post_likes.count }}</span>
                            <input id="likeimage{{post.post_id}}" onclick="doLike({{post.post_id}});" style="width: 20px;" type="image" src="{% if real_user in post.post_likes.all %}{% static 'readmore_app/thumbs_up.png' %}{% else %}{% static 'readmore_app/thumbs_up_gray.png' %}{% endif %}" />
                        </span>
                    </div>
                    </div>
                    <div>
                    {% if post.post_img %}
                        {% if post.post_rating %}<a href="{% url 'readmore_app:view_book' post.post_isbn %}">{% endif %}
                            <img style="max-width: 500px;" src="{{ post.post_img }}"/>
                        {% if post.post_rating %}</a>{% endif %}
                    {% endif %}
                    <h5 style="margin: 2px;">Post By: <a href="{% url 'readmore_app:profile' post.post_user.id %}">{{ post.post_user.username }}</a></h5>
                    <h6 style="margin: 2px;">{{ post.post_date|date:"m/d/Y h:i:s A" }}</h6>
                    </div>
                </div>
                
                
                {% if post.post_rating %}
                    <div align="center" colspan=3 style="
                    margin-top: 1%;
                    background: #b4b8cffc;
                    padding: 5px;
                    border-radius: 15px;
                    "><div class="stars" style="font-size: 250%; --rating:{{ post.post_rating|divide:2 }};"></div></div>
                {% endif %}
                {% if post.post_text %}
                <div class="post_text">
					{% autoescape off %}
					<p>{{ post.post_text }}</p>
					{% endautoescape %}
                </div>
                {% endif %}
                {% if post.post_user == real_user %}
                <button onclick="deletePost({{ post.post_id }});" class="anchor_button" style="float: right; margin-right: 10px; margin-top: 10px;">Delete This Post</button>
                {% endif %}
                
            </div>
        {% endfor %}
    {% endif %}
    </div>
    </center>
</div>
{% endblock %}

{% block js %}

function escapeHtml(unsafe) {
    return unsafe
         .replace(/&/g, "&amp;")
         .replace(/</g, "&lt;")
         .replace(/>/g, "&gt;")
         .replace(/"/g, "&quot;")
         .replace(/'/g, "&#039;");
}

function makeEditable(){
    const biodiv = document.getElementById("userbio")
    const biobutton = document.getElementById("biobutton");
    const bio = document.getElementById("bio");
    const textarea = document.createElement("textarea");
    textarea.id = "bio_edit";
    textarea.cols = 80;
    textarea.rows = 8;
    textarea.style = "resize: vertical;"
    textarea.innerHTML = bio.innerHTML;
    bio.parentNode.removeChild(bio);
    biodiv.insertBefore(textarea, biobutton);
    
    biobutton.innerHTML = "Save Bio";
    biobutton.setAttribute("onclick", "saveBio();");
}

function saveBio() {
    const biodiv = document.getElementById("userbio")
    const biobutton = document.getElementById("biobutton");
    const textarea = document.getElementById("bio_edit");
    const bio = document.createElement("p");
    
    let new_bio = textarea.value;
    const xhrsavebio = new XMLHttpRequest();
    xhrsavebio.open("POST", `/readmore/ajax/save_bio/{{ real_user.id }}/`);
    xhrsavebio.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xhrsavebio.send(JSON.stringify({"bio": new_bio}));
    
    bio.id = "bio";
    bio.innerHTML = escapeHtml(new_bio);
    textarea.parentNode.removeChild(textarea);
    biodiv.insertBefore(bio, biobutton);
    
    biobutton.innerHTML = "Edit Bio";
    biobutton.setAttribute("onclick", "makeEditable();");
}


function deletePost(post_id) {
    if (confirm("Are you sure you wish to delete this post?")) {
        const xhrdeletepost = new XMLHttpRequest();
        xhrdeletepost.onload = function() {
            if (this.responseText == "CONFIRM") {
                window.location.href = "/readmore/profile/{{ profile_user.id }}/";
            }
        }
        xhrdeletepost.open("GET", `/readmore/ajax/delete_post/${post_id}/`);
        xhrdeletepost.send();
    }
}

function friend(user_id, type) {
    const xhrfriend = new XMLHttpRequest();
    const xhrfriendcount = new XMLHttpRequest();
    xhrfriendcount.onload = function() {
        const followinfo = document.getElementById('friendinfo');
        followinfo.innerHTML = this.responseText + " Friends";
    }
    if (type == 'add'){
        xhrfriend.onload = function(){
            const friendbutton = document.getElementById('friendbutton');
            if (this.responseText == 'added'){
                friendbutton.innerHTML = "Remove Friend";
                friendbutton.setAttribute('onclick', "friend({{ profile_user.id }}, 'remove');");
            }
            else if (this.responseText == 'pending') {
                friendbutton.innerHTML = "Pending...";
                friendbutton.setAttribute('onclick', "friend({{ profile_user.id }}, 'pending');");
            }
        }
    } else if (type == "pending"){
        xhrfriend.onload = function(){
            const friendbutton = document.getElementById('friendbutton');
            friendbutton.innerHTML = "Add Friend";
            friendbutton.setAttribute('onclick', "friend({{ profile_user.id }}, 'add');");
        }
    } else if (type == "remove"){
        xhrfriend.onload = function(){
            const friendbutton = document.getElementById('friendbutton');
            friendbutton.innerHTML = "Add Friend";
            friendbutton.setAttribute('onclick', "friend({{ profile_user.id }}, 'add');");
        }
    }
    xhrfriend.open("POST", "/readmore/ajax/friend/");
    xhrfriend.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhrfriend.send("type=" + type + "&profile_user_id=" + user_id + "&real_user_id=" + {{ real_user.id }});
    setTimeout(function() {
        xhrfriendcount.open("GET", "/readmore/ajax/get_friend_count/{{ profile_user.id }}/");
        xhrfriendcount.send()
    }, 500);
}

function doLike(post_id) {
    const image = document.getElementById("likeimage" + post_id);
    const nlikes = document.getElementById("nlikes" + post_id);
    const xhrlike = new XMLHttpRequest();
    xhrlike.onload = function() {
        [new_image, num_likes] = this.responseText.split(' ');
        if (new_image == "unlike") {
            image.src = "/static/readmore_app/thumbs_up_gray.png";
        } else if (new_image == "like") {
            image.src = "/static/readmore_app/thumbs_up.png";
        }
        nlikes.innerHTML = num_likes;
    }
    xhrlike.open("GET", `/readmore/ajax/dolike/${post_id}/`);
    xhrlike.send();
}
{% endblock %}