{% extends parent_template|default:"base.html" %}
{% load static %}
{% load extras %}

{% block title %}
Readmore - {{ profile_user.username }}'s Reading Log
{% endblock %}

{% block content %}

<div style="display: flex; flex-direction: column; width: 80vw;">
<a style="margin-top: 50px; width:fit-content;" class="anchor_button" href="{% url 'readmore_app:profile' profile_user.id %}">{{ profile_user.username }}'s Profile</a>
<div id="library">
    <center>
    <h1>{{ profile_user.username }}'s Reading Log</h1>
    </center>
    {% if not reading_log %}
    <h3>No Books Here</h3>
    {% else %}
    <div class="table" id="book_search_results" style="overflow:unset; margin-right;">
        {% for book in reading_log %}
                <div id="clubbook{{ book.id }}"  class="book_card_mv">
                <a class="book_search_link" href="{% url 'readmore_app:view_book' book.isbn13 %}">
                    <div style="width:20em;">
                    <div class="book_title" style="
                        display: flex;
                        position: absolute;
                        top: 0px;
                        width: 90%;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        margin-top: 5%;
                        margin-left: 5%;
                        align-content: center;
                        align-items: flex-start;">
                        <div><img width="100px" height="140px" src="{{ book.small_thumbnail }}" alt="{{ book.title }} Cover Image" /></div>
                        <div>
                        
                        <p style="font-size:18px;">{{ book.title }}</p>
                        
                        </div>
                    </div>
                    <div style="margin-top: 60%;margin-bottom: 20px;">
                        <div style="display:flex; flex-direction: row;">
                            <div style="font-size:12px; width: 28%; margin-top: 12px;">
                                Author{{ book.authors|length|pluralize:"s" }}
                            </div>
                            <div style="width: 50%; margin-left:10px;">
                               
                                {% for author in book.authors %}
                                <p style="font-size:12px;">
                                <span style="font-size:12px;">{{ author }}</span>
                                </p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div>
                        <div colspan=2 style="font-size:12px;">ISBN: {{book.isbn13 }}</div>
                    </div>
                    </div>
                </a>
                <div><div align="center" colspan=2><div class="stars" style="--rating:{{ book.rating }};margin-bottom:5%;"></div></div></div>
                
            </div>
        {% endfor %}
        
    </div>
    {% endif %}
</div>
</div>
{% endblock %}

{% block js %}
{% endblock %}