{% extends parent_template|default:"base.html" %}
{% load static %}

{% block title %}
Readmore - Reading Log
{% endblock %}

{% block content %}
<div style="display: flex; flex-direction: column; align-items: center;">
<a style="margin-top: 50px;width:fit-content;" href="{% url 'readmore_app:profile' user.id %}" class="anchor_button">Back To User Profile</a>
<div id="reading_log">
    <center>
    <h1>My Reading Log</h1>
    </center>
    <table class="table" id="club_library_table">
        <tr id="row" style="display:flex;align-items: stretch;">
        {% for shortlist in reading_log %}
            {% for book in shortlist %}
            <td id="reading_log_book{{ book.id }}"  class="book_card">
                <a class="book_search_link" href="{% url 'readmore_app:view_book' book.isbn13 %}">
                    <div style="width: 20em;">
                        <div class="book_title">
                            <div style="width: 40%; margin: 3px;"><img width="100px" height="140px" src="{{ book.small_thumbnail }}" alt="{{ book.title }} Cover Image" /></div>
                            <div style="width: 100%; margin-left: 0.6em;">
                            
                            <p style="font-size:18px;">{{ book.title }}</p>
                            
                            </div>
                        </div>
                        <div style="margin-top: 60%;margin-bottom: 20px;margin-left: 30px;">
                            <div style="display:flex;">
                                <div style="font-size:12px; width: 28%; margin-top: 12px;">
                                    Author{{ book.authors|length|pluralize:"s" }}
                                </div>
                                <div style="width: 50%;">
                                    {% for author in book.authors %}
                                    <p style="font-size:12px;">
                                    <span style="font-size:12px;">{{ author }}</span>
                                    </p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div style="margin-left: 30px;">
                            <div colspan=2 style="font-size:12px;">ISBN: {{ book.isbn13 }}</div>
                        </div>
                </div>
               </a>
               <div style="display: flex; flex-direction: column; justify-content: center; margin-bottom: 15px;">
                <div><div align="center"><div class="stars" style="--rating:{{ book.rating }};margin-bottom:5%;"></div></div></div>
                </div>
               <div style="display: flex; justify-content: center; margin-bottom: 15px;">
               <a href="{% url 'readmore_app:create_review_post' book.isbn13 %}" style="display: block; margin-right: 20px;"><button class="book_action">Review Book</button></a>
               <button onclick="delete_user_library_book('{{ book.id }}');" class="book_action" style="display: block; margin-left: 20px;">Delete Book</button>
               </div>
               </td>
            {% endfor %}
        {% endfor %}
        </tr>
    </table>
	{% if not reading_log %}
	<h3 id="nobooksfound">No Books Found</h3>
	{% endif %}
</div>
<div id="search_add">
    <center>
    <h2>Search Books</h2>
    <form style="{% if not search %}margin-bottom: 250px;{% endif %}" action="{% url 'readmore_app:reading_log' %}" method="POST">
    {% csrf_token %}
        <input style="width: 50vw;" type="text" name="search_query" required/>
        <select style="padding: 5px; border-radius: 5px; border:none;" name="search_type">
            <option value="general" selected>General Search</option>
            <option value="title">Title</option>
            <option value="author">Author</option>
            <option value="isbn">ISBN</option>
        </select>
        <br>
        <input id="search_button" type="submit" value="Search" />
    </form>
    </center>
    {% if search %}
        {% if not books %}
        <h2>No Books Found Matching Search Terms</h2>
        {% else %}
        <div class="table" id="book_search_results" style="margin-right: 1%;">
            {% for short_list in books %}
            <div style="display:flex;align-items: stretch;">
                {% for book in short_list %}
                <div class="book_card">
         <a class="book_search_link" href="{% url 'readmore_app:view_book' book.volumeInfo.industryIdentifiers.0.identifier %}">
                        <div style="width: 20em;">
                            <div class="book_title" style="
                                display: flex;
                                position: absolute;
                                top: 0px;
                                width: 90%;
                                flex-direction: row;
                                flex-wrap: nowrap;
                                margin-top: 5%;
                                margin-left: 5%;
                                align-content: center;
                                align-items: flex-start;">
                                <div><img width="100px" height="140px" src="{{ book.volumeInfo.imageLinks.smallThumbnail }}" alt="{{ book.volumeInfo.title }} Cover Image" /></div>
                                <div>
                                <p style="font-size:18px;margin-right: 0.8em;margin-left: 0.3em;margin-block-start: 0px;">{{ book.volumeInfo.title }}</p>
                                </div>
                            </div>
                            <div style="margin-top: 50%; margin-bottom: 20px;">
                                <div style="display:flex;flex-direction: row;">
                                    <div style="font-size:12px; width: 28%; margin-top: 12px;">
                                        Author{{ book.volumeInfo.authors|length|pluralize:"s" }}
                                    </div>
                                    <div style="width:50%; margin-left:10px;">
                                        {% for author in book.volumeInfo.authors %}
                                        <p style="font-size:12px;">
                                        <span style="font-size:12px;">{{ author }}</span>
                                        </p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            
                        
                        </div>
                    </a>
                    <div style="display: flex; flex-direction: column; justify-content: center;margin-top:10%; margin-bottom: 15px;">
                        <div><div align="center" colspan=3><div class="stars" style="--rating:{{ book.volumeInfo.averageRating }};margin-bottom:5%;"></div></div></div>
                    </div>
               <div style="display: flex; align-content: center;margin-top:10%; margin-bottom: 15px;">
               <button style="{% if book.volumeInfo.industryIdentifiers.0.identifier in reading_log_isbns %}display: none;{% endif %} bottom: 5%;" id="add{{ book.volumeInfo.industryIdentifiers.0.identifier }}" onclick="add_user_library_book('{{ book.volumeInfo.industryIdentifiers.0.identifier }}');" class="book_action">Add To Reading Log</button>
               </div>
            </div>
                
                {% endfor %}
        </div>
            {% endfor %}
    </div>
        {% endif %}
    {% endif %}
</div>
</div>
{% endblock %}


{% block js %}
window.onload = function(){
    const row = document.getElementById("row");
    if(row.childElementCount == 0){
        document.getElementById("club_library_table").setAttribute("style", "height: 0px;");
    }
}

function add_user_library_book(isbn) {
    const addbutton = document.getElementById("add" + isbn);
    const xhraddbook = new XMLHttpRequest();
    const row = document.getElementById("row");
    const reading_log = document.getElementById("reading_log");
    xhraddbook.onload = function(){
		if (row.childElementCount == 0) {
			reading_log.removeChild(document.getElementById("nobooksfound"));
            document.getElementById("club_library_table").setAttribute("style", "height: auto;");
		}
        row.innerHTML += this.responseText;
        addbutton.style.display = "none";
    }
    xhraddbook.open("GET", "/readmore/ajax/add_to_user_library/" + isbn + "/");
    xhraddbook.send();
}

function delete_user_library_book(book_id) {
    const td = document.getElementById("reading_log_book" + book_id);
    const xhrremoveuserbook = new XMLHttpRequest();
    const row = document.getElementById('row');
    const reading_log = document.getElementById('reading_log');
    xhrremoveuserbook.onload = function(){
        td.parentNode.removeChild(td);
        let hasChild = false;
        if (row.childElementCount == 0) {
            reading_log.innerHTML += `<h3 id="nobooksfound">No Books Found</h3>`;
            document.getElementById('club_library_table').setAttribute("style", "height: 0px;"); 

        }
        const button = document.getElementById("add" + this.responseText);
        if (button != null) {
            button.style.display = "inline-block";
        }

    }
    xhrremoveuserbook.open("GET", `/readmore/ajax/remove_from_user_library/${book_id}/`);
    xhrremoveuserbook.send();
    
}
{% endblock %}
