{% extends parent_template|default:"base.html" %}


{% block title %}
Readmore - Review Book
{% endblock %}

{% block content %}
<div class="form" style="margin-top:10%;">
    <h1>Create a Review</h1>
    <center>
    <div class="book_card_mv" style="color: #eff0f5;width: 18em;font-family:Arial, Helvetica, sans-serif; text-transform: none; diplay: inline-block;">
            <div><h2 style="width: 100%; text-align: center; padding: 5px;">Current Book</h2></div>
            <a class="book_search_link" href="{% url 'readmore_app:view_book' book.isbn13 %}">
                <div style="width: 16em;margin-left: 4%;">
                <div class="book_title" style="position: relative;">
                    <div style="width: 40%; margin: 4px;"><img width="100px" height="140px" src="{{ book.small_thumbnail }}" alt="{{ book.title }} Cover Image" /></div>
                    <div style="width: 100%; margin-left: 0.6em;">
                    
                    <p style="font-size:18px;">{{ book.title }}</p>
                    
                    </div>
                </div>
                <div style="margin-top: 0%;margin-bottom: 20px;margin-left: 30px;height: 100px;">
                    <div style="display:flex;">
                        <div style="font-size:12px; width: 28%; margin-top: 12px;">
                            Author{{ book.authors|length|pluralize:"s" }}
                        </div>
                        <div style="width: 50%;">
                            <p style="font-size:12px;">
                            {% for author in book.authors %}
                            <span style="font-size:12px;">{{ author }}</span>
                            </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div style="margin-left: 30px;">
                    <div colspan=2 style="font-size:12px;">ISBN: {{ book.isbn13 }}</div>
                </div>
                <div style="margin-bottom:5%;"><div align="center"><div class="stars" style="--rating:{{ book.rating }};"></div></div></div>
                </div>
            </a>
    </div>
    </center>
    <div style="display: inline-block;">
        <form action="{% url 'readmore_app:create_review_post' book.isbn %}" method="post">
            {% csrf_token %}
            <table id="formtable">
                {{ form.as_table }}
                <tr>
                    <td colspan=2><center><input type="submit" value="Submit"></center></td>
                </tr>
            </table>
        </form>
    </div>
</div>
{% endblock %}