{% extends parent_template|default:"base.html" %}
{% load static %}
{% load extras %}

{% block title %}
Readmore - {{ club.club_name }} Schedule
{% endblock %}

{% block content %}
<style>
 #schedule td {border: 1px solid black;}
 #schedule th {border: 1px solid black;}
</style>
<div style="display:flex;flex-direction: column;align-items: center;padding: 4% 0%;margin-left:0%;height:fit-content;">
<div style="align-self: flex-start;margin-left: 4.5%;">
	<a class="anchor_button" href="{% url 'readmore_app:club' club.club_id %}" style="margin-top: 1.5%; ">{{ club.club_name }}</a>
</div>
<div class="basic_card" style="width: 90%;">
<center>
    <table id="schedule" style="margin-bottom: 100px; width: 100%;">
        <tr><th colspan="3" style="text-align: center; background: #8d9ab8; color: white;">Meeting Schedule</th></tr>
        <tr>
            <th style="background: #414364; color: white;">Meeting Name</th>
            <th style="background: #414364; color: white;">Meeting Time</th>
            <th style="background: #414364; color: white;">Meeting Description</th>
        </tr>
        {% if not meetings %}
        <tr>
            <td colspan="3" style="text-align: center;">No Meetings Here</td>
        </tr>
        {% endif %}
        {% for meeting in meetings %}
        <tr>
            <td style="max-width: 20vw; word-wrap: break-word;">{% if not meeting.meeting_name %}(Unnamed Meeting){% endif %}{{ meeting.meeting_name }}</td>
            <td style="max-width: 15vw;">{{ meeting.meeting_time|date:'m/d/Y h:i A' }}</td>
            <td style="max-width: 40vw;word-wrap: break-word;">{{ meeting.meeting_description }}</td>
        </tr>
        {% endfor %}
    </table>
    </center>
</div>
{% endblock %}