{% extends parent_template|default:"base.html" %}
{% load static %}
{% load extras %}

{% block title %}
Readmore - Search Book
{% endblock %}

{% block content %}
<div style="display: flex; flex-direction: column; width: 80vw;padding-top: 10%;">
    <center>
    <h1>Search Books</h1>
    <form action="{% url 'readmore_app:search_book' %}" method="POST">
    {% csrf_token %}
        <input style="width: 50vw;" type="text" name="search_query" required/>
        <select style="padding: 5px; border-radius: 5px; border:none;" name="search_type">
            <option value="general" selected>General Search</option>
            <option value="title">Title</option>
            <option value="author">Author</option>
            <option value="isbn">ISBN</option>
        </select>
        <br>
        <input id="search_button" type="submit" value="Search" />
    </form>
    </center>
    {% if search %}
        {% if not books %}
        <h2>No Books Found Matching Search Terms</h2>
        {% else %}
        <div class="table" id="book_search_results" >
            {% for short_list in books %}
            <div>
                {% for book in short_list %}
                <div class="book_card">
                <a class="book_search_link" href="{% url 'readmore_app:view_book' book.volumeInfo.industryIdentifiers.0.identifier %}">
                    <div style="width: 20em;">
                    <div class="book_title" style="
                    display: flex;
                    position: absolute;
                    top: 0px;
                    width: 90%;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    margin-top: 5%;
                    margin-left: 5%;
                    align-content: center;
                    align-items: flex-start;">
                        <div><img width="100px" height="140px" src="{{ book.volumeInfo.imageLinks.smallThumbnail }}" alt="{{ book.volumeInfo.title }} Cover Image" /></div>
                        <div>
                        <p style="font-size:18px;margin-right: 0.8em;margin-left: 0.3em;margin-block-start: 0px;">{{ book.volumeInfo.title }}</p>
                        </div>
                    </div>
                    <div style="margin-top: 60%; margin-bottom: 20px;">
                        <div style="display:flex; flex-direction: row;">
                            <div style="font-size:12px; width: 28%;">
                                Author{{ book.volumeInfo.authors|length|pluralize:"s" }}
                            </div>
                            <div style="width:50%; margin-left:10px;">
                                {% for author in book.volumeInfo.authors %}
								<p style="font-size:12px;">
                                <span style="font-size:12px;">{{ author }}</span>
                                </p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div>
                        <div colspan=2 style="font-size:12px;">ISBN: {% get_isbn_thirteen book.volumeInfo.industryIdentifiers %}</div>
                    </div>
                    </div>
                </a>
                <div><div align="center" colspan=3><div class="stars" style="--rating:{{ book.volumeInfo.averageRating }};margin-bottom:5%;"></div></div></div>
                
               
            </div>
                
                {% endfor %}
        </div>
            {% endfor %}
        </div>
        {% endif %}
    {% endif %}
</div>
{% endblock %}