{% extends parent_template|default:"base.html" %}
{% load static %}

{% block title %}
Readmore - Search Book
{% endblock %}

{% block content %}
<div>
    <center>
    <h1>Search Books</h1>
    <form action="{% url 'readmore_app:search_book' %}" method="POST">
    {% csrf_token %}
        <input style="width: 50vw;" type="text" name="search_query" required/>
        <select style="padding: 5px; border-radius: 5px; border:none;" name="search_type">
            <option value="general" selected>General Search</option>
            <option value="title">Title</option>
            <option value="author">Author</option>
            <option value="isbn">ISBN</option>
        </select>
        <br>
        <input id="search_button" type="submit" value="Search" />
    </form>
    </center>
    {% if search %}
        {% if not books %}
        <h2>No Books Found Matching Search Terms</h2>
        {% else %}
        <table class="table" id="book_search_results">
            {% for short_list in books %}
            <tr>
                {% for book in short_list %}
                <td style="width: 30vw;">
                <a class="book_search_link" href="{% url 'readmore_app:view_book' book.volumeInfo.industryIdentifiers.0.identifier %}">
                    <table>
                    <tr>
                        <td rowspan=3><img src="{{ book.volumeInfo.imageLinks.smallThumbnail }}" alt="{{ book.volumeInfo.title }} Cover Image" /></td>
                        <td colspan=2>
                        <p style="font-size:18px;">{{ book.volumeInfo.title }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size:12px;">
                            Author{{ book.volumeInfo.authors|length|pluralize:"s" }}
                        </td>
                        <td>
                            <p style="font-size:12px;">
                            {% for author in book.volumeInfo.authors %}
                            <span style="font-size:12px;">{{ author }}</span>
                            </p>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan=2 style="font-size:12px;">ISBN: {{book.volumeInfo.industryIdentifiers.0.identifier }}</td>
                    </tr>
                    <tr><td align="center" colspan=3><div class="stars" style="--rating:{{ book.volumeInfo.averageRating }};"></div></td></tr>
                    </table>
               </a>
                </td>
                
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    {% endif %}
</div>
{% endblock %}