{% extends parent_template|default:"base.html" %}
{% load extras %}

{% block title %}
{% if book != None %}
Readmore - {{ book.volumeInfo.title }}
{% else %}
Readmore - Book Not Found
{% endif %}
{% endblock %}

{% block content %}
<div>
    {% if book != None %}
    <h1>{{ book.volumeInfo.title }}</h1>
    <h2>{{ book.volumeInfo.subtitle }}</h2>
    <table id="view_book_table">
    <tr>
        <td style="width: 20%;" rowspan=5>
            <img width=300px src="{{ book.volumeInfo.imageLinks.thumbnail }}" alt="Image of Book Cover"> 
        </td>
        <td style="width:200px;" align="center" rowspan=5>
            <div style="margin-bottom: 50%;">
            Rating: 
            <br>
            <div class="stars" style="--rating:{{ book.volumeInfo.averageRating }};"></div>
            </div>
        </td>
        <td>
            Author{{ book.volumeInfo.authors|length|pluralize:"s" }}:
                        <br>
                        {% for author in book.volumeInfo.authors %}
                        <span style="margin-left: 3%;">{{ author }}<span>
                        <br>
                        {% endfor %}
        </td>
    </tr>
    <tr>
        <td>Publisher: {{ book.volumeInfo.publisher }}</td>
    </tr>
    <tr>
        <td>Publication Date: {{ book.volumeInfo.publishedDate }}</td>
    </tr>
    <tr>
        <td>ISBN13: {% get_isbn_thirteen book.volumeInfo.industryIdentifiers %}</td>
    </tr>
    <tr>
        <td>ISBN10: {% get_isbn_ten book.volumeInfo.industryIdentifiers %}</td>
    </tr>
    <tr>
        <td colspan=3>
            <h2>Description</h2>
            <p>{{ book.volumeInfo.description }}</p>
        </td>
    </tr>
    </table>
    <h2>Forums</h2>
	<h2>Reviews</h2>
	<p>Reviews go here when implemented.</p>
    {% else %}
        <h1>Book Not Found</h1>
    {% endif %}
</div>
{% endblock %}

{% block js %}
{% endblock %}