{% extends parent_template|default:"base.html" %}
{% load extras %}
{% load static %}

{% block title %}
{% if book != None %}
Readmore - {{ book.volumeInfo.title }}
{% else %}
Readmore - Book Not Found
{% endif %}
{% endblock %}

{% block content %}
<div class="basic_card">
    {% if book != None %}
    <h1>{{ book.volumeInfo.title }}</h1>
    <h2>{{ book.volumeInfo.subtitle }}</h2>
    <table id="view_book_table">
    <tr>
        <td style="width: 20%;" rowspan=5>
            <img width="300px" src="{{ book.volumeInfo.imageLinks.thumbnail }}" alt="Image of Book Cover"> 
        </td>
        <td style="width:200px;" align="center" rowspan=5>
            <div style="margin-bottom: 50%;">
            Rating: 
            <br>
            <div class="stars" style="--rating:{{ book.volumeInfo.averageRating }};"></div>
            </div>
            {% if reviews %}
            <div style="margin-bottom: 50%;">
            Readmore Rating: 
            <br>
            <div class="stars" style="--rating:{{ review_avg|divide:2 }};"></div>
            </div>
            {% endif %}
        </td>
        <td>
            Author{{ book.volumeInfo.authors|length|pluralize:"s" }}:
                        <br>
                        {% for author in book.volumeInfo.authors %}
                        <span style="margin-left: 3%;">{{ author }}<span>
                        <br>
                        {% endfor %}
        </td>
    </tr>
    <tr>
        <td>Publisher: {{ book.volumeInfo.publisher }}</td>
    </tr>
    <tr>
        <td>Publication Date: {{ book.volumeInfo.publishedDate }}</td>
    </tr>
    <tr>
        <td>ISBN13: {% get_isbn_thirteen book.volumeInfo.industryIdentifiers %}</td>
    </tr>
    <tr>
        <td>ISBN10: {% get_isbn_ten book.volumeInfo.industryIdentifiers %}</td>
    </tr>
    <tr>
        <td colspan=3>
            <h2>Description</h2>
            <p>{{ book.volumeInfo.description }}</p>
        </td>
    </tr>
    </table>
    <h2>Forums</h2>
	<h2 style="display: inline;">Reviews</h2>
    <a href="{% url 'readmore_app:create_review_post' book.volumeInfo.industryIdentifiers|isbn_thirteen_filter %}" style="display: block; display: inline; margin-left: 80%;"><button style="border: none; padding: 9px;">Review This Book</button></a>
    <br/></br/></br/></br/>
    {% if reviews %}
        {% for review in reviews %}
        <div class="clubcomment" {% if highlight == review.post_id %}style="background: #fbff8c;"{% endif %}>
        <span style="position: absolute; margin-left: 94.1%;" class="likes">
            <span id="nlikes{{ review.post_id }}" >{{ review.post_likes.count }}</span>
            <input id="likeimage{{review.post_id}}" onclick="doLike({{review.post_id}});" style="width: 20px;" type="image" src="{% if real_user in review.post_likes.all %}{% static 'readmore_app/thumbs_up.png' %}{% else %}{% static 'readmore_app/thumbs_up_gray.png' %}{% endif %}" />
        </span>
        <div style="width: 100%;">
            <center>
            <div class="comment_by" style="width: fit-content;">
                <a href="{% url 'readmore_app:profile' review.post_user.id %}">{{ review.post_user }}</a><br><span style="font-size: 10px;">{{ review.post_date|date:'m/d/Y h:i A' }}</span>
            </div>
            <div>
                <div style="background: #c0d8fc;padding: 10px;box-shadow: 2px 2px 2px#7074ac; width: fit-content; border-radius: 15px;" align="center" colspan=3><div class="stars" style="font-size: 50px; --rating:{{ review.post_rating|divide:2 }};"></div></div>
            </div>
            <div align="center" class="comment_text" style="width: 92%; text-align: left;">
                {% autoescape off %}
				<p>{{ review.post_text }}</p>
				{% endautoescape %}
            </div>
            </center>
        </div>
        </div>
        {% endfor %}
    {% else %}
        <p>No reviews have been posted about this book.</p>
    {% endif %}
    
    {% else %}
        <h1>Book Not Found</h1>
    {% endif %}
</div>
{% endblock %}

{% block js %}
function doLike(post_id) {
    const image = document.getElementById("likeimage" + post_id);
    const nlikes = document.getElementById("nlikes" + post_id);
    const xhrlike = new XMLHttpRequest();
    xhrlike.onload = function() {
        [new_image, num_likes] = this.responseText.split(' ');
        if (new_image == "unlike") {
            image.src = "/static/readmore_app/thumbs_up_gray.png";
        } else if (new_image == "like") {
            image.src = "/static/readmore_app/thumbs_up.png";
        }
        nlikes.innerHTML = num_likes;
        console.log(this.responseText);
    }
    xhrlike.open("GET", `/readmore/ajax/dolike/${post_id}/`);
    xhrlike.send();
}
{% endblock %}