/* #7074ac */

body{
    font-family: Garamond, Georgia, serif;
    margin:0; 
    overflow: hidden;
}
a{
    text-decoration: none; 
}
.image_404{
    background-image: url(globe.jpg);
}

.form{
    height: fit-content;
    width: fit-content;
    max-width:100%;
    background-color: #f3f4f8;
    padding: 30px;
    margin: auto;
    color: #21352f;
    text-transform: uppercase;
    box-shadow: 2px 2px 2px#7074ac;
}

.book_action{
    position:relative;
    bottom: 2%;
    border: none;
    padding: 0.3em 0.8em;
    width:fit-content;
    align-self: center;
}

.comment_by {
    min-width: 15%;
    display:inline-flex;
}

#userbio > * {
    display: block;
}

#bio {width: 600px;}

.comment_text {
    text-align: left;
    width: 73%;
    background: #f8f8fa;
    border-radius: 2px;
    padding: 15px;
    box-shadow: 2px 2px 2px#7074ac;
    word-break: break-word;
    margin-right:1%;

}

div.createform > * {
    margin-left: 30%;
    margin-top: 50px;
}
div.createform h1 {
    margin-left: 35%;
}

.clubpost {
    position: relative;
    margin-bottom: 50px;
    background: #e4e0c5;
    border-radius: 2px;
    padding-bottom: 60px;
    padding-top: 30px;
    box-shadow: 2px 2px 2px#7074ac;
    display:flex; 
    flex-direction:column; 
    align-items:center;
}

.clubcomment {
    position: relative;
    margin-bottom: 50px;
    background: #e4e0c5;
    border-radius: 2px;
    box-shadow: 2px 2px 2px#7074ac;
    width: 98%;
    padding: 5% 1%;
    display:flex;
}

.review_comment{
    position: relative;
    margin-bottom: 50px;
    background: #e4e0c5;
    border-radius: 2px;
    box-shadow: 2px 2px 2px#7074ac;
    width: 98%;
    padding: 5% 1%;
    display:flex;
}

.post_text {
    text-align: left;
    width: 90%;
    background: #f8f8fa;
    border-radius: 2px;
    padding: 15px;
    margin-top: 15px;
    box-shadow: 2px 2px 2px#7074ac;
    word-break: break-word;
}

textarea#id_review_text{
    width: 95%;
}

.table_card {
    display: inline-table;
    box-shadow: 2px 2px 2px#7074ac;
    border-color: black;
    width: 70%;
    background-color: white;
    margin-top: 1em;
    height:fit-content;
    overflow: hidden;
    border-style: solid;
    padding: 20px;
    margin-bottom: 2em;
}
.book_club {
    width: 80vw;
}
.book_review{
    margin: 7% 2% 20% 2%;  
    display: flex; 
    flex-direction: row-reverse;
}
#search_button{
    border-radius: 3px;
    border: none;
    color: white;
    background-color:#47947f;
    width: 20vw;
    height: 40px;
    margin-top: 10px;
}
#book_search_results{
    margin-left: -4%;
    margin-bottom: 10%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom:60%;
}
#book_search_results td{
    color: #eff0f5;
    font-family:Arial, Helvetica, sans-serif;
    width: 15em;
}
#book_search_results div{
    display: flex;
    align-items: center;
    align-content: space-around;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    color: #eff0f5;
    font-family:Arial, Helvetica, sans-serif;
    
}

.book_card{
    background: #a5a5aa;
    border-collapse: collapse;
    border: 0px;
    width: 18em;
    min-height: 18em;   
    position:relative;
    outline: 1px solid #eff0f5;
    outline-offset: -5px;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    box-shadow: 2px 2px 8px 6px #7575807a;
    margin: 5px;
    
}

.book_card_mv{
    background: #a5a5aa;
    border-collapse: collapse;
    border: 0px;
    min-height:18em;
    min-height:18em;
    position:relative;
    outline: 1px solid #eff0f5;
    outline-offset: -5px;
    color: #eff0f5;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    box-shadow: 2px 2px 8px 6px #7575807a;
    margin: 5px;
}

#club_library_table {
    display: flex;
    overflow: auto;
    margin-left: -2%;
    margin-right: 2%;
    width: 77vw;
    color: #eff0f5;
    background-color: #8d9ab8;
    border-style: solid;
    border-width: 9px;
    border-color: #847d7d;
}


#club_library_table td {
    background: #a5a5aa;
    border-collapse: collapse;
    border: 0px;
    margin: 5px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
    outline: 1px solid #eff0f5;
    outline-offset: -5px;
}

.book_title{
    display: flex;
    position: absolute;
    top: 0px;
    width: 90%;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 5%;
    margin-left: 5%;
    align-content: center;
    align-items: flex-start;    
}
h2.logo{
    color:#e2e2db;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:800px;
    margin-left: 20px;
    font-size:32px;
    margin-top: 6px;
}

.container{
    display:flex;
    flex-flow: column;
    height: inherit;
    overflow: hidden;
}

.content-container {
    display: flex;
    justify-content: start;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100vh;
}

#registration {
    box-shadow:inset 2000px 0 0 0 rgba(112, 116, 172, .5);
    background-image: url(studygroup.jpg);
    background-size:cover;
    bottom:0px;
    position:absolute;
    min-height:100%;
    min-width:100%;
}

.submit{
    margin-top:10px;
}

#login {
    box-shadow:inset 2000px 0 0 0 rgba(112, 116, 172, .5);
    background-image: url(studygroup.jpg);
    background-size:cover;
    bottom:0px;
    position:absolute;
    min-height:100%;
    min-width:100%;
}
h2.logo{
    color:#e2e2db;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight:800px;
    margin-left: 20px;
    font-size:32px;
    margin-top: 6px;
}

#userbio{
    padding: 1% 2%;
    background-color: #d0d0e5;
    margin-right: 1%;
    color: #3e474d;
    font-family: monospace;
    box-shadow: 3px 2px 5px #46494a;
    word-break: break-word;
    min-width: 30%;

}
.submit{
    height: 24px;
    border:none;
    color: white;
    background-color:#008A65;
    min-width: 80px;
    margin-top: 10px;
    padding: 4px;
}

main{
    background-image: url(white_background.jpg);
    background-attachment:scroll;
    background-size:cover;
    display: flex;
    width: 80%;
    min-height: 100%;
    height: 100% auto;
    color: #232D5E;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content:center;
}
.book_search_results{
    height: 100% auto;
    margin-right: 2%;
}

search_add{
    display:flex;
    flex-direction: column;
}

main > * { margin-left: 4.5%; }

main > div { width: 100%; }

#drop .dropaw {
    display:block;
    font-family: Arial, Helvetica, sans-serif;
    padding:2%;
    width: 100%; 
    font-size:small;
    background-color: #1FC198;
    color:white;
    position: relative; 
    text-align: center;      
    z-index: 2;
    border-radius: 0px;
}

#drop .dropaw:hover{
    background-color:#E6F4F1;
    color: #3b3e66;
}

#dropdown {
    position: relative; 
    display: none; 
    color:white;
    padding: 0px; 
    z-index: 2; 
    margin-left: 0px;
      
}

#drop { 
    display: flex; 
    flex-direction: column; 
    padding: 10px;
    align-content: center;
    align-items: center;
}

#drop:hover #dropdown {
    min-width:25%;
    display:flex; 
    flex-direction: column; 
    z-index: 2;
    background:none;
}

.basic_card{
    border-radius: 2px;
    box-shadow: 2px 2px 2px#7074ac;
    border-color: black;
    width: 100%;
    background-color: white;
    min-height: 70vh;
    height:fit-content;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    padding: 20px;
    padding-bottom: 10%;
    margin: 4%;
}

.mailbox_card{
    width: 30%;
    padding-top:3%;
    background-color: #737a79;
    text-align: center;
    min-width:130px;
    word-break: break-word;
}

.likes {
    margin-right: 10%;
    position: absolute;
    font-family: sans-serif;
    font-weight: 700;
    background: #c0d8fc;
    padding: 10px;
    box-shadow: 2px 2px 2px#7074ac;
}

.remove{
    float:right;
    background: #e35343;
    border: none;
    border-radius: 25px;
    padding: 7px 6.3px 3px 7px;
}
.anchor_button{
    border-radius: 2px;
    color: #e2e2db;
    height: auto;
    width: fit-content;
    border: none;
    padding: 10px;
    background: #4b4e75;
}

p a.anchor_button{
    border-radius: 2px;
    /* color: #e2e2db; */
    height: auto;
    /* width: fit-content; */
    border: none;
    /* padding: 10px; */
    background: #4b4e75;
    width: 100%;
    text-align: center;
    padding: 0px;
    font-size: medium;
    text-decoration: none;
    color: #e2e2db;
    overflow-wrap: break-word;
    text-align: center;
    word-break: break-word;
}

.mailbox_username {
    color: #737a79;
    background: #f8f8fa;
    display: block;
    padding: 10px;
    padding-bottom: 10px;
    word-wrap: break-word;
    height: fit-content;
    margin:1%;
}



.profile_header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:4%;
}

/*.book_club_listing td p a{
    border-radius: 2px;
    color: #e2e2db;
    height: 30px;
    width: auto;
    border: none;
    padding: 10px;
    background: #4b4e75;
}*/

.anchor_button:hover{
    background: #dee7e9; 
    color:#3b3e66;
    transition: all 0.4s;
}

div.sidebar {
    position: relative; 
    text-align: center; 
    background: #8d9ab8;
    width:20%; 
    height:100vh;
     
    
    
}
.sidebar a {
    margin: 2px 2px 2px 2px;
    border-radius: 4px;
    color: #e2e2db; 
    height: 30px; 
    display:block; 
    width:auto; 
    border:none; 
    padding: 10px; 
    padding-top: 18px ; 
    background: #4b4e75; 
}
.sidebar a:hover {
    border: 3px #cecec8;
    margin-left: -2px;
    background: #dee7e9; 
    color:#3b3e66;
    transition: all 0.4s;

}

.navbar_wrapper{
    padding-right: 2%;
    width:100%;
}

.navbar{
    height:3em;
}

div.navbar {
    float:initial;
    display: flex;
    border: none; 
    position: relative;  
    background: #414364; 
    z-index: 1;
    justify-content: space-between;
}
.navbar a {
    min-width: 120px;
    text-align: center;
    border-radius: 4px;
    font-size: medium;
    text-decoration: none; 
    color: #e2e2db; 
    background: none; 
    padding-top:12px; 
    }
.navbar a:hover {
    background: #dee7e9; 
    color:#3b3e66;
    transition: all 0.4s;
}

#chatdiv {
    overflow: scroll;
    height: 63vh;
    width: 100%;
    overflow-x: hidden;
}

#chatmessage{
    width:50%;
    word-break: break-word;
}

#chat_table {
    border-spacing: 10px;
}

#chat_table td {
    font-size: 1em;
}

#chat_table tr td:first-child {
    border-bottom: 1px solid lightgray; 
    padding-left: 1em;
    max-width: 150px;
    word-wrap: break-word;
}

#chat_table tr td:last-child {
    width: 130vh;
    border-bottom: 1px groove lightgray;
    padding-right: 1em;
}

#chat_table tr td:first-child p:last-child {
    font-size: 7px;
}

.joinleavemessage {
    color: gray;
    font-weight: strong;
}

div.subnav {
    background: #414364;
    border-radius: 2px;
    width: fit-content;
    padding-left:5px;
    padding-right:5px;
    display: flex;
    margin-right: 1%;
    align-items: center;
}


.subnav div{
    text-align:center;
    padding:10px;
    width:100%;
}


.subnav a {
    color: white;
    width:100%;
    text-align: center;
    padding:0px;
    font-size: medium;
    text-decoration: none; 
    color: #e2e2db; 
    background: none;
} 

.message_area{
    display: inline-table;
    box-shadow: 2px 2px 2px#7074ac;
    width: 100%;
    background-color: white;
    overflow: hidden;
    padding: 20px;
    padding-bottom:7%;
}

.subnav div:hover {
    background: #dee7e9; 
    color:#3b3e66;
    border-radius: 4px;
    transition: all 0.4s;
}

.club_heading{
    display:flex;
    flex-direction:row; 
    justify-content:space-between;
}

.stars {
  --percent: calc((var(--rating) - 0.025 ) / 5 * 100%);
  
  display: inline-block;
  font-family: Times;
  line-height: 1;
  font-size: 250%;
}
.stars:before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, #ffd000 var(--percent), #e1e1e1 var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.book_search_link {
    color: inherit;
}

#view_book_table{
    display:flex;
    flex-direction: column;
    margin-bottom: 4%;
}

.book_table_head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post_title{
    max-width: 92%;
    word-break: break-word;
    text-align: center;
}

.sidebar_filler{
    background-image: url(stackedbooks.jpg);
    height: inherit;
}

@media (max-width:889px){
    .navbar_wrapper{
        flex-direction: column;
        height:6em;
        justify-content: baseline;
    }
    .navbar_wrapper.navbar{
        align-items: center;
    }
    .content-container{
        flex-direction: column;
    }
    div.sidebar{
        width: 100%;
        display: inline-flex; 
        justify-content: flex-start;
        background: white;
        border: none;
        box-shadow: 2px 2px 10px #444444;
    }
    .message_area{
        padding-bottom:22%;
    }
    .sidebar a{
        width: 100%;
        background-color: white;    
        color:#656679;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 20px;
    }

    .sidebar a:hover{
        background: #414364;
        color: white;
        transition: all 0.4s;
    }

    main{
        width: 100%;
    }
    
    .basic_card{
        margin:1em;
        margin-bottom:50%;
    }
    #club_library_table{
        width:96vw;
    }
    .book_review{
        margin-top: 2%;
    }
    #book_search_results{
        margin-bottom:28%;
    }
}

@media (max-width:709px){
    
    .club_heading{
        flex-direction: column;
        align-items: center;
    }
    #current_book{
        margin-top:2%;
    }
    .navbar_wrapper{
        height: 8em;
        align-content: flex-start;
    }
    .navbar_links{
        flex-wrap: wrap;
        height:inherit;
        align-content: baseline;
        height: 6em;
    }
   div form.link{
       margin-left:4%;
       margin-right:0.5em;
   }
   .book_review{
        flex-direction: column;
        align-items: center;
        margin-bottom: 53%;
   }
   #formtable tbody tr{
        display: flex;
        flex-direction: column;
   }
   
   .review_form{
        display: flex;
        flex-direction: column;
        align-items: center;
   }
   .review_form div{
        display: inline-block;
        margin-left: 3%;
   }

   .profile_header{
       flex-direction: column;
       align-items:stretch;
   }
   .message_area{
       padding-bottom:50%;
   }
   .post_title{
       max-width: 86%;
   }
   .clubcomment{
    display: grid;
    grid-template-columns: 20% 80%;
    padding-bottom: 15%;
   }
   .clubcomment :nth-child(1){
    grid-row-start: 1;
    grid-row-end: 2;
   }
   .clubcomment :nth-child(2){
    grid-row-start: 1;
    grid-row-end: 3;
    width:87%;
    padding-bottom:9%;
   }
   #book_search_results{
        margin-bottom:41%;
    }

}   

@media (max-width: 500px){
    .book_table_head{
        flex-direction: column;
    }
    .clubcomment{
        padding-bottom: 14%;
    }
    #book_search_results{
        margin-bottom:65%;
    }
}






.error {margin-top: 20px; position:relative; color:red;font-size:24;padding:10px;border:1px solid black;border-radius:5px; background:rgba(255, 25, 25, 0.3);}