/* #7074ac */
html{
    height: 100vh;
}
body{
    font-family: OCR A Std, monospace;
    margin:0; 
    height:100vh;   
}
a{
    text-decoration: none; 
}
.form{
    background-color: #F9F8FF;
    padding:30px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 10px;
    color:#309070;
    text-align: left;
    margin-top:50%;
    margin-left:50%;
    transform:translate(-55%, -50%);
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 20px;
}



#search_button{
    border-radius: 0px;
    border: none;
    color: white;
    background-color:#008A65;
}
#book_search_results{
    display:flex;
    overflow: scroll;
    margin-left: -40px;
}
#book_search_results td{
    background-color: aliceblue;
    color: #7074ac;
    font-family:Arial, Helvetica, sans-serif;
    
}
h2.logo{
    color:#e2e2db;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:800px;
    margin-left: 20px;
    font-size:32px;
    margin-top: 6px;
}

.container{
    display:flex;
    flex-flow: column;
}

.content-container {
    display: flex;
    justify-content: start;
    flex-direction: row;
    flex-wrap: nowrap;
}

#registration {
    box-shadow:inset 2000px 0 0 0 rgba(112, 116, 172, .5);
    background-image: url(studygroup.jpg);
    background-size:cover;
    bottom:0px;
    position:absolute;
    min-height:100%;
    min-width:100%;
    
}


#login {
    box-shadow:inset 2000px 0 0 0 rgba(112, 116, 172, .5);
    background-image: url(studygroup.jpg);
    background-size:cover;
    bottom:0px;
    position:absolute;
    min-height:100%;
    min-width:100%;
}
h2.logo{
    color:#e2e2db;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight:800px;
    margin-left: 20px;
    font-size:32px;
    margin-top: 6px;
}

.submit{
    height: 24px;
    border:none;
    color: white;
    background-color:#008A65;
    min-width: 80px;
    margin-top: 10px;
    padding: 4px;
}

main{
    background-image: url(white_background.jpg);
    background-attachment:fixed;
    background-size:cover;
    display: flex;
    width: 100%;
    min-height: 100%;
    height: 100% auto;
    color:#309070;
}

main > * { margin-left: 50px; }

#drop .dropaw {
    display:block;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-left: 0;
    width: 90%; 
    font-size:small;
    background-color: #1FC198;
    color:white;
    position: relative; 
    text-align: center;  
    
}

#drop .dropaw:hover{
    background-color:#E6F4F1;
    color: #3b3e66;
}
#dropdown {
    position: absolute; 
    display: none; 
    background-color: #1FC198;
    color:white;
    padding: 0px; 
    z-index: 1; 
    top:45px;
    
}



#drop { 
    display: flex; 
    flex-direction: column; 
    padding: 10px;
}

#drop:hover #dropdown {
    margin-left:30px;
    min-width:200px;
    display:flex; 
    flex-direction: column; 
    z-index: 0;
}

div.sidebar {
    position: relative; 
    text-align: center; 
    background: #97bdf7; 
    float:left; 
    width:20%; 
    min-height:100vh;
    height:100% auto;
    
}
.sidebar a {
    margin: 2px 2px 2px 2px;
    border-radius: 4px;
    color: #e2e2db; 
    height: 30px; 
    display:block; 
    width:auto; 
    border:none; 
    padding: 10px; 
    padding-top: 18px ; 
    background: #4b4e75; 
}
.sidebar a:hover {
    border: 3px #cecec8;
    margin-left: -2px;
    background: #dee7e9; 
    color:#3b3e66;
    transition: all 0.4s;

}

div.navbar {
    float:initial;
    display: flex;
    justify-content: space-between;
    border: none; 
    position: relative; 
    height:45px; 
    background: #414364; 
    z-index: 5;
}
.navbar a {
    min-width: 120px;
    text-align: center;
    border-radius: 4px;
    font-size: medium;
    height: 23px; 
    display:inline; 
    text-decoration: none; 
    color: #e2e2db; 
    padding: 10px; 
    float: left; 
    background: none; 
    padding-top:12px; 
    margin-left: 50px;
    }
.navbar a:hover {
    background: #dee7e9; 
    color:#3b3e66;
    transition: all 0.4s;
}

#chatdiv {
    overflow: scroll;
    height: 70vh;
    width: 100%;
    overflow-x: hidden;
}
#chat_table {
    border-spacing: 10px;
}

#chat_table td {
    font-size: 10px;
}

#chat_table tr td:first-child {
    border-bottom: 1px solid lightgray; 
    padding-left: 10px;
}

#chat_table tr td:last-child {
    width: 130vh;
    border-bottom: 1px groove lightgray;
    padding-right: 10px;
}

#chat_table tr td:first-child p:last-child {
    font-size: 7px;
}

.joinleavemessage {
    color: gray;
    font-weight: strong;
}

div.subnav {
    background: #414364;
    border-radius: 10px;
}

.subnav > p {
    display: inline-block;
}

.subnav a {
    color: white;
    min-width: 120px;
    text-align: center;
    border-radius: 4px;
    font-size: medium;
    height: 60px;
    text-decoration: none; 
    color: #e2e2db; 
    padding: 10px;
    background: none;
}

.subnav a:hover {
    background: #dee7e9; 
    color:#3b3e66;
    transition: all 0.4s;
}

#search_button {
    width: 20vw;
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
}
.stars {
  --percent: calc((var(--rating) - 0.025 ) / 5 * 100%);
  
  display: inline-block;
  font-size: 40px;
  font-family: Times;
  line-height: 1;
  
}
.stars:before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, #ffd000 var(--percent), #e1e1e1 var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.book_search_link {
    color: inherit;
}

.error {margin-top: 20px; position:relative; color:red;font-size:24;padding:10px;border:1px solid black;border-radius:5px; background:rgba(255, 25, 25, 0.3);}